<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename = 'CSS/styleDesign2.css')}}">
        <link rel="icon" href="static/Images/icon.png">
        <script src="https://kit.fontawesome.com/4702aabb36.js" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
        <title>Your Portfolio</title>
    </head>
    <body>
        <div class="frames">
            <div class="header">
                <div class="p-details">
                    <div class="name">
                        <div class="fname">{{fname}}</div>
                        <div class="lname">{{lname}}</div>
                        <div class="designation">{{des}}</div>
                    </div>
                    <div class="details">
                        <div class="address">{{add}}</div>
                        <div class="mail">{{em}}</div>
                        <div class="phone">{{ph}}</div>
                        <div class="linkedin">{{ln}}</div>
                    </div>
                </div>
                <img src="/static/Images/{{img}}" alt="Profile Pic" srcset="">
            </div>

            <div class="about">
                <h2>About Me</h2>
                <p>{{abt}}</p>
            </div>

            <div class="education">
                <h2>Education</h2>
                <div class="edu">
                    <div class="school">
                        <h2>School:</h2>
                        <p>{{sch}}</p>
                    </div>
                    <div class="college">
                        <h2>College:</h2>
                        <p>{{col}}</p>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                <div class="sk">
                    <h2>Skills</h2>
                    <div class="skills">
                        <div class="sk1">{{sk1}}</div>
                        <div class="sk2">{{sk2}}</div>
                        <div class="sk3">{{sk3}}</div>
                        <div class="sk4">{{sk4}}</div>
                    </div>
                </div>

                <div class="social">
                    <h2>Social Links</h2>
                    <dtw class="links">
                        <p><i class="fa-brands fa-square-facebook"></i> &nbsp;{{fb}}</p>
                        <p><i class="fa-brands fa-square-twitter"></i> &nbsp;{{tw}}</p>
                    </dtw>
                </div>
            </div>
        </div>
    </body>
</html>